<div class="container">
  <h1>Select your Car</h1>
  <div class="row">
    <div *ngFor="let c of cars" class="col s3">
      <div
        [ngClass]="{ 'z-depth-5': c === selectedCar }"
        class="card z-depth-5"
        (click)="selectedCar = c"
      >
        <div class="card-image">
          <img [src]="'./assets/cars/' + c.id + '/' + c.id + '.jpg'" />
          <span class="card-title">{{ c.name }}</span>
        </div>
        <div class="card-content">
          <p>Horsepower: {{ c.specs.engineForce / 100 }}hp</p>
        </div>
        <div class="card-action">
          <a href="#">Select</a>
        </div>
      </div>
    </div>
  </div>
</div>
